body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  padding: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.playlistSection {
  width: 60%;
  height: calc(100vh - 80px);
}
.chatSection {
  width: 40%;
  height: calc(100vh - 80px);
}
.card-body {
  min-height: 60vh;
}